@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Saira+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(105.74deg, #e0e0e0 3.24%, #c3c5c8 144.01%);
}

#header {
    background: linear-gradient(105.74deg, #e0e0e0 3.24%, #c3c5c8 144.01%);
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.navbar-item {
    font-family: "Comfortaa", cursive;
    font-size: 18px;
    font-weight: 400;
    color: #23446d;
}

#main-content {
    background-image: url(./img/casamento2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.firstlook {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);

    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 190px 30px 190px 30px;
    margin: 30px;

    color: #8a697d;
    font-size: 20px;
    font-family: "Saira Condensed", sans-serif;
}

#jobs{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
}

#title-job, #title-contact{
    display: block;
    margin: 0 auto;
    padding: 30px;

    text-align: center;
    font-family: "Comfortaa", cursive;
    color: #23446d;
}

#contacts{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Comfortaa", cursive;
    font-size: 20px;
    margin: 30px;
    color: #274263;

}

.icon{
    display: flex;
    flex-direction: column;
    padding-left: 540px;
}